{% extends "base.html" %}

{% block content %}
<head>
    <title>New Vehicle</title>
</head>
<h4>Create a new vehicle ad</h4>
<form action="/vehicle/new" method="post">
    <p>Car make:</p>
    <p><input type="text" name="make"></p>
    <p>Car model:</p>
    <p><input type="text" name="model"></p>
    <p>Car color:</p>
    <p><input type="text" name="color"></p>
    <p>Car make year:</p>
    <p><input type="text" name="year"></p>
    <p>Car price:</p>
    <p><input type="text" name="price"></p>
    <p>fuel type:</p>
    <p><input type="text" name="fuel"></p>
    <p><input type="submit" value="Create new"></p>
</form>
<p><a href="/">BACK</a></p>
{% endblock %}